version: '3.8'

services:
  backend:
    build: ./backend
    container_name: kittygram_backend
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_DB=kittygram
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    depends_on:
      - db

  db:
    image: postgres:13
    container_name: kittygram_db
    environment:
      - POSTGRES_DB=kittygram
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    volumes:
      - postgres_data:/var/lib/postgresql/data

  frontend:
    build: ./frontend
    container_name: kittygram_frontend
    ports:
      - "3000:80"

  nginx:
    build: ./nginx
    container_name: kittygram_nginx
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend

volumes:
  postgres_data:
