version: '3.8'

services:
  backend:
    build: ./backend
    container_name: backend
    env_file: .env        
    depends_on:
      - postgres
    volumes:
      - static:/static    
      - media:/media      

  postgres:
    image: postgres:13
    container_name: postgres
    env_file: .env        
    volumes:
      - pg_data:/var/lib/postgresql/data

  frontend:
    build: ./frontend
    container_name: frontend
    volumes:
      - frontend_build:/app/build

  gateway:
    build: ./nginx
    container_name: gateway
    ports:
      - "80:80"         
    volumes:
      - static:/static
      - media:/media
      - frontend_build:/usr/share/nginx/html
    depends_on:
      - backend
      - frontend

volumes:
  static:
  media:
  pg_data:
  frontend_build:
