name: Main Workflow
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: SSH Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /home/ubuntu/kittygram/cloud-services-engineer-kittygram-final
            git pull
            docker-compose down
            docker-compose up -d --build
  
  checkout-and-print-test:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Check kittygram
        run: |
             curl -v http://51.250.21.144:80

      - name: autopep8
        id: autopep8
        uses: peter-evans/autopep8@v2
        with:
          args: --recursive --in-place --aggressive backend/    
   
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip 
          pip install flake8==6.0.0 flake8-isort==6.0.0
          pip install flake8 pytest
          pip install requests PyYAML
 
      - name: Test with flake8
        run: python -m flake8 backend/

      - name: Run backend tests (pytest)
        run: |
          pytest
      
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install frontend deps
        working-directory: ./frontend
        run: |
          npm ci

      - name: Run frontend tests
        working-directory: ./frontend
        run: |
          npm test -- --watch=false
      
  build_and_push:
      name: Build & Push Docker images
      runs-on: ubuntu-latest
      needs: checkout-and-print-test

      steps:
        - name: Checkout repo
          uses: actions/checkout@v4

        - name: Log in to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
        - name: Build & push backend
          uses: docker/build-push-action@v6
          with:
            context: ./backend
            push: true
            tags: ${{ secrets.DOCKER_USERNAME }}/kittygram_backend:latest

        - name: Build & push frontend
          uses: docker/build-push-action@v6
          with:
            context: ./frontend
            push: true
            tags: ${{ secrets.DOCKER_USERNAME }}/kittygram_frontend:latest

        - name: Build & push gateway
          uses: docker/build-push-action@v6
          with:
            context: ./nginx
            push: true
            tags: ${{ secrets.DOCKER_USERNAME }}/kittygram_gateway:latest
  notify:
        name: tg 
        runs-on: ubuntu-latest
        needs: [deploy,checkout-and-print-test,build_and_push]
        steps:
          - name: send telegram message on push
            uses: appleboy/telegram-action@master
            with:
              to: ${{ secrets.TELEGRAM_CHAT_ID }}
              token: ${{ secrets.TELEGRAM_TOKEN }}
              message: |
                ${{ github.actor }} created commit:
                Commit message: ${{ github.event.commits[0].message }}
            
                Repository: ${{ github.repository }}
            
                See changes: https://github.com/${{ github.repository }}/commit/${{github.sha}}












     
  
        

  
          
        