name: Main Workflow
on:
  push:
    branches:
      - main

jobs:
  
  checkout-and-print-test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: autopep8
        id: autopep8
        uses: peter-evans/autopep8@v2
        with:
          args: --recursive --in-place --aggressive backend/    
   
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip 
          pip install flake8==6.0.0 flake8-isort==6.0.0
 
      - name: Test with flake8
        run: python -m flake8 backend/

      - name: Run backend tests (pytest)
        run: |
          pytest
      
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install frontend deps
        working-directory: ./frontend
        run: |
          npm ci

      - name: Run frontend tests
        working-directory: ./frontend
        run: |
          npm test -- --watch=false
      
  build_and_push:
      name: Build & Push Docker images
      runs-on: ubuntu-latest
      needs: tests

      steps:
        - name: Checkout repo
          uses: actions/checkout@v4

        - name: Log in to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
        - name: Build & push backend
          uses: docker/build-push-action@v6
          with:
            context: ./backend
            push: true
            tags: ${{ secrets.DOCKER_USERNAME }}/backend:latest

        - name: Build & push frontend
          uses: docker/build-push-action@v6
          with:
            context: ./frontend
            push: true
            tags: ${{ secrets.DOCKER_USERNAME }}/frontend:latest

        - name: Build & push gateway
          uses: docker/build-push-action@v6
          with:
            context: ./nginx
            push: true
            tags: ${{ secrets.DOCKER_USERNAME }}/gateway:latest

  notify:
        name: Telegram notify
        runs-on: ubuntu-latest
        needs: deploy

        steps:
          - name: Send Telegram message
            run: |
             curl -s -X POST https://api.telegram.org/bot${{ secrets.TELEGRAM_TOKEN }}/sendMessage \
             -d chat_id=${{ secrets.TELEGRAM_CHAT_ID }} \
             -d text="✅ Kittygram успешно задеплоен из ветки main"
          
        